:root {
  --primary-bg-color: #fbb57deb;
  --secondary-bg-color: #FF8C00;
  --text-color: #000000;
  --custom-bg-color: #fee3cd; /* New custom background color */
  --button-color: #000000;
  --tab-color:#ffffff;
  
}